<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Subscribe</title>
  </head>
  <body>
    <form>
      <h2>Event Subscription</h2>
      <input id="email" type="text" name="email" placeholder="Email" />
      <input id="subscribe" type="submit" value="Subscribe" />
      <p id="message">Subscribed Successfully</p>
    </form>
    <script src="script.js"></script>
  </body>
</html>
